@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gradient-angel: 150deg;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.scrollable {
  scrollbar-width: none;
  /* Для Firefox */
  -ms-overflow-style: none;
  /* Для IE и Edge */
}

.scrollable::-webkit-scrollbar {
  display: none;
  /* Для Chrome, Safari и Opera */
}

.active-element {
  z-index: 10;
  @apply relative left-1 px-3 py-2.5 rounded font-bold
}

.active-element::before {
  content: '';
  z-index: -1;
  @apply absolute w-0 h-full rounded top-0 left-0 transition-all duration-500 ease-in-out
}

.active-element:hover::before {
  width: 100%
}

.shadow-inset {
  box-shadow: inset 2px 5px 10px black;
}

.dropdown {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.dropdown.open {
  max-height: 200px;
  opacity: 1;
}




::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}


.toggle-circle {
  @apply absolute aspect-square h-[80%] rounded-full bg-gray-300 dark:bg-neutral-900 dark:translate-x-full shadow-md transition-all top-[10%] left-[10%] duration-300 z-21;
}